.container {
  margin: 0 auto;
  padding: 0 1em;
  font-size: 0.67rem;
}

h1 {
  font-size: 3em;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -999;
}

.bayan__tab {
  overflow: hidden;
  transition: all 0.4s;
}

.bayan__label {
  font-size: 1.8em;
  font-weight: bold;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  color: blue;
  transition: color 0.4s;
}

.bayan__icon {
  transition: all 0.4s;
}

input[type="checkbox"]:checked ~ .bayan__label .bayan__icon {
  transform: rotate(45deg);
}

.bayan__content {
  max-height: 0;
  transition: all 0.4s;
}

.bayan__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 1.8em;
}

input[type="checkbox"]:checked ~ .bayan__content {
  max-height: 100vh;
}

input[type="checkbox"]:checked ~ .bayan__label {
  color: initial;
}

