.container {
  margin: 0 auto;
  padding: 1em;
  font-size: 0.67rem;
}

h1 {
  font-size: 3em;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -999;
}

.bayan__tab {
  overflow: hidden;
  transition: all 0.4s;
}

.bayan__label {
  font-size: 1.8em;
  font-weight: bold;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  color: blue;
  transition: color 0.4s;
}

.bayan__icon {
  transition: all 0.4s;
}

input[type="checkbox"]:checked ~ .bayan__label .bayan__icon {
  transform: rotate(45deg);
}

.bayan__content {
  max-height: 0;
  transition: all 0.4s;
}

.bayan__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 1.8em;
}

input[type="checkbox"]:checked ~ .bayan__content {
  max-height: 100vh;
}

input[type="checkbox"]:checked ~ .bayan__label {
  color: initial;
}

@media screen and (min-width: 430px) {
  .container {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 700px) {
  .container {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    font-size: 1.5rem;
    max-width: 56vw;
  }
}

@media (hover: hover) {
  .bayan__icon {
    opacity: 0;
  }
  .bayan:hover .bayan__icon {
    opacity: 1;
  }
  .bayan:hover .bayan__label {
    color: initial;
  }
  .bayan:hover .bayan__tab,
  .bayan:hover .bayan__label {
    cursor: pointer;
  }
  .bayan__tab:hover .bayan__icon {
    transform: rotate(45deg);
  }
  .bayan__tab:hover .bayan__content,
  .bayan__tab:focus .bayan__content {
    max-height: 100vh;
  }
  .bayan__tab:focus .bayan__label {
    color: initial;
  }
  .bayan__tab:active {
    opacity: 0.7;
  }
  .bayan__tab:active > .bayan__label {
    color: blue !important;
  }
}
